{{template "header.html"}}
<div id="app" v-cloak>
    <login-form />
    <hr>
    <button @click="toggleBox">toggle box</button>
    <div v-if="isVisible" class="box second"></div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    let app = Vue.createApp({
        data: function(){
            return {
                greeting: 'hello vue 3!',
                isVisible: false
            }
        },
        methods: {
            toggleBox(){
                this.isVisible=!this.isVisible
            },
            greet(greeting){
                console.log(greeting)
            }
        }
    })
    app.component('login-form',{
        template: `
        <form @submit.prevent="handleSubmit">
            <h1>{{title}}</h1> 
            <custom-input 
                v-for="(input, i) in inputs" 
                :key="i"
                v-model="input.value" 
                v-bind:label="input.label"
                :type="input.type" 
                :abrsh="abrshLabel" />
            <button>Log in</button>
        </form>
        `,
        components: ['custom-input'],
        data(){
            return {
                title: 'Login Form',
                inputs:[
                {
                    label:'Email',
                    input: 'email',
                    value:''
                },
                {
                    label:'Password',
                    input: 'password',
                    value:''
                }
                ]
            }
        },
        methods: {
            handleSubmit(){
                console.log('email : ',this.inputs[0].value,' password: ',this.inputs[1].value)
            }
        }
    })
    app.component('custom-input',{
        template:`
            <label>
                {{abrsh}}{{label}}
                <input type="type" v-model="inputValue"/>  
            </label>
        `,
        props:['label','abrsh','type','modelValue'],
        computed:{
            inputValue:{
                get(){
                    return this.modelValue
                },
                set(value){
                    this.$emit('update:modelValue',value)
                }
            }
                    
        },
        // data(){
        //     return{
        //         inputValue:''
        //     }
        // }    
    })
    app.mount('#app')
</script>

{{template "footer.html"}}